@import '../../../../../scss/constants';

.tb-create-password-custom {
  height: 100vh;
  background: linear-gradient(135deg, #131313 0%, #1e1e1e 100%);

  mat-card {
    border-radius: 8px;
    overflow: hidden;
  }

  mat-card-header {
    padding: 1rem;
    background-color: $tb-secondary-color;
  }
} 